[build-system]
requires = ["flit_core >=2,<4"]
build-backend = "flit_core.buildapi"

[tool.flit.metadata]
module = "aioitertools"
author = "John Reese"
author-email = "john@noswap.com"
description-file = "README.md"
home-page = "https://aioitertools.omnilib.dev"
requires = ["typing_extensions>=3.7; python_version < '3.8'"]
requires-python = ">=3.6"
classifiers = [
    "Development Status :: 4 - Beta",
    "Framework :: AsyncIO",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: MIT License",
    "Topic :: Software Development :: Libraries",
]

[tool.flit.metadata.urls]
Documentation = "https://aioitertools.omnilib.dev/en/latest/"
Github = "https://github.com/omnilib/aioitertools"

[tool.flit.sdist]
exclude = [
    ".github/",
]

[tool.attribution]
name = "aioitertools"
package = "aioitertools"
version_file = true

[tool.coverage.run]
branch = true
include = ["aioitertools/*"]
omit = ["aioitertools/tests/*"]

[tool.coverage.report]
fail_under = 70
precision = 1
show_missing = true
skip_covered = true

[tool.isort]
line_length = 88
multi_line_output = 3
force_grid_wrap = false
include_trailing_comma = true
use_parentheses = true
